{% extends 'content_list.html' %}

{% load content_tags %}

{% block title %}{{o.title}}{% endblock title %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-4">
          <h1>Blog</h1>
        </div>
        <div class="col-lg-8 col-sm-8">
          <ol class="breadcrumb pull-right">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'post-list' %}">Blog</a></li>
            <li><a href="{% url 'post-detail' o.slug %}">{{o.title}}</a></li>
          </ol> 
        </div>
      </div>
    </div>
  </div>
{% endblock breadcrumbs %}

{% block blog_content %}
  <!--blog start-->
  <div class="col-lg-9">
    <div class="blog-item">
      <div class="row">
        <div class="col-md-12">
          <div class="row">

            <div class="col-lg-2 col-sm-2">
              <div class="date-wrap">
                <span class="date"> {{o.published_on|date:"d"}} </span>
                <span class="month"> {{o.published_on|date:"M"}} {{o.published_on|date:"Y"}}</span>
              </div>
            </div>

            <div class="col-lg-10 col-sm-10">
              {% if o.photo %}
                <div class="blog-img">
                  <img src="{{o.photo.url}}" alt=""/>
                </div>
              {% endif %}
            </div>
          </div>

          <div class="row">
            <div class="col-lg-2 col-sm-2 metadata">
              <div class="author"> By {{o.author}} </div>
              <ul class="list-unstyled">
                {% for t in o.tags.all %}
                  <li><a href="{% url 'post-list-tag' t.name %}"><em> {{t}} </em></a></li>
                {% endfor %}
              </ul>
              <div class="st-view">
                <ul class="list-unstyled">
                  {#<li><a style="cursor:default;"> {{o.views}} Views </a></li>#}
                  <li><a style="cursor:default;"><span style="color: #48cfad;font-weight:normal;" id="atcounter">0</span> Shares </a></li>
                  <li><a data-disqus-identifier="{{o.slug}}" style="cursor:default;"> 0 Comments</a></li>
                  <li class="addthis_sharing_toolbox" data-title="{{o.title}}"></li>
                </ul>
              </div>
            </div>

            <div class="col-lg-10 col-sm-12">
              <h1><a>{{o.title}}</a></h1>
              <p>{{o.content|markdownify|highlight_code|safe}}</p>

              <div id="disqus_thread" style="margin-top:20px;"></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

<script type="text/javascript">
  $(function(){
    addthis.sharecounters.getShareCounts({service: ['linkedin', 'twitter'], countUrl: "http://django.zone{% url 'post-detail' o.slug %}"}, function(obj) {
      $("#atcounter").text(obj[0].count + obj[1].count);
    });
  });
</script>

<script type="text/javascript">
  var disqus_shortname = 'djangozone';
  (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
{% endblock blog_content %}
