{% extends 'base.html' %}

{% load content_tags %}

{% block content %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-4">
          <h1>Blog</h1>
        </div>
        <div class="col-lg-8 col-sm-8">
          <ol class="breadcrumb pull-right">
            <li><a href="{% url 'home' %}">Home</a></li>
          </ol> 
        </div>
      </div>
    </div>
  </div>
{% endblock %}

<div class="container">
  <div class="row">
    <!--blog start-->

    {% block blog_content %}
      <div class="col-lg-9 ">
        {% for o in objects %}
          <div class="blog-item">
            <div class="row">

              <div class="col-lg-2 col-sm-2">
                <div class="date-wrap">
                  <span class="date"> {{o.published_on|date:"d"}} </span>
                  <span class="month"> {{o.published_on|date:"M"}} {{o.published_on|date:"Y"}}</span>
                </div>
                <div style="text-align:center;" class="addthis_sharing_toolbox" data-title="{{o.title}}" data-url="http://django.zone{% url 'post-detail' o.slug %}"></div>
              </div>

              {% if o.photo %}
                <div class="col-lg-10 col-sm-10">
                  <div class="blog-img">
                    <img src="{{o.photo.url}}" alt=""/>
                  </div>
                </div>
              {% endif %}

              <div class="col-lg-10 col-sm-10 pull-right">
                <h1><a href="{% url 'post-detail' o.slug %}">{{o.title}}</a></h1>
                {% if o.photo %}
                  <p>{{o.content|markdownify|highlight_code|safe|truncatechars_html:350}}</p>
                {% else %}
                  <p>{{o.content|markdownify|highlight_code|safe|truncatechars_html:750}}</p>
                {% endif %}
                <a href="{% url 'post-detail' o.slug %}" class="btn btn-primary"> Continue Reading </a>
              </div>

              <div class="col-lg-2 col-sm-2 text-right">
                <div class="author"> By {{o.author}} </div>
                <ul class="list-unstyled">
                  {% for t in o.tags.all %}
                    <li><a href="{% url 'post-list-tag' t.name %}"><em> {{t}} </em></a></li>
                  {% endfor %}
                </ul>
                <div class="st-view">
                  <ul class="list-unstyled">
                    {#<li><a style="cursor:default;"> {{o.views}} Views </a></li>#}
                    <li><a style="cursor:default;"><span style="color: #48cfad;font-weight:normal;" id="{{o.slug}}">0</span> Shares </a></li>
                    <li><a data-disqus-identifier="{{o.slug}}" style="cursor:default;">0 Comments</a></li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
          <script type="text/javascript">
            $(function(){
              addthis.sharecounters.getShareCounts({service: ['linkedin', 'twitter'], countUrl: "http://django.zone{% url 'post-detail' o.slug %}"}, function(obj) {
                $("#{{o.slug}}").text(obj[0].count + obj[1].count);
              });
            });
          </script>

        {% endfor %}
        <div class="text-center">
          <ul class="pagination">
            {% for page in paginator.page_range %}
              <li class="{%ifequal page page_obj.number%}active{%endifequal%}"><a href="{% url 'post-list' %}?page={{page}}">{{page}}</a></li>
            {% endfor %}
          </ul>
        </div>

      </div>
    {% endblock blog_content %}


    {% block sidebar %}
      <div class="col-lg-3">
        <div class="blog-side-item">
          <div class="search-row">
            <input type="text" class="form-control" placeholder="Search here">
          </div>
          <div class="category">
            <h3>Categories</h3>
            <ul class="list-unstyled">
              {% get_tags 'post' as tags %}
              {% for t in tags %}
                <li><a href="{% url 'post-list-tag' t.name %}"><i class="fa fa-angle-right pr-10"></i>{{t}} ({{t.num_items}})</a></li>
              {% endfor %}
            </ul>
          </div>

          <div class="blog-post">
            <h3>Latest Publications</h3>
            {% get_latest_posts as posts %}
            {% for p in posts %}
              <div class="media">
                {% if p.photo %}
                  <a class="pull-left" href="{% url 'post-detail' p.slug %}">
                    <img class="img-responsive" src="{{p.photo.thumbnail.81x81}}" alt="">
                  </a>
                {% endif %}
                <div class="media-body">
                  <h5 class="media-heading">
                    <p>{{p.published_on}}</p>
                  </h5>
                  <a href="{% url 'post-detail' p.slug %}">{{p.title}}</a>
                </div>
              </div>
            {% endfor %}
          </div>


          <!-- <div class="archive"> -->
          <!--   <h3>Archive</h3> -->
          <!--   <ul class="list-unstyled"> -->
          <!--     <li><a href="javascript:;"><i class="fa fa-angle-double-right pr-10"></i>May 2014</a></li> -->
          <!--     <li><a href="javascript:;"><i class="fa fa-angle-double-right pr-10"></i>April 2014</a></li> -->
          <!--   </ul> -->
          <!-- </div> -->

        </div>
      </div>
    {% endblock sidebar %}
    </div>
    <!--blog end-->
  </div>

</div>

<script type="text/javascript">
  var disqus_shortname = 'djangozone';
  var disqus_identifier = '{{o.slug}}';
  (function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
</script>

{% endblock content %}
