{% load content_tags %}
<p>
  <h3 class="page-header">
    <a href={% url object.get_classname|add:'_detail' object.slug %}>
      {% if object.get_classname == 'posts' %}
        <span class="fa fa-file-text"></span>
      {% elif object.get_classname == 'projects' %}
        <span class="fa fa-code"></span>
      {% else %}
        <span class="fa fa-info"></span>
      {% endif %}
      {{ object.title }}
    </a>
  </h3>

  <p><i>{{ object.published_on }}</i> by {{ object.author }}</p>

  {% if object.tags.all %}<p>posted in 
    {% get_tags object.tags.names "/contents/"|add:object.get_classname|add:"/tag/" %}
  </p>{% endif %}

  <p>{% if object.commit %}Commit: <a href="https://github.com/argaen/djangozone/tree/{{ object.commit }}" target=blank>{{ object.commit }}</a>{% endif %}</p>
  <p>{% if object.branch %}Branch: <a href="https://github.com/argaen/djangozone/tree/{{ object.branch }}" target=blank>{{ object.branch }}</a>{% endif %}</p>
</p>
