{% extends 'base.html' %}

{% load staticfiles %}


{% block title %}
About
{% endblock %}

{% block menu %}
  <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
  <li class="disabled"><a href="#"><i class="fa fa-line-chart"></i> Timeline</a></li>
  <li class="active"><a href="/about"><i class="fa fa-user"></i> About</a></li>
{% endblock %}

{% block base_template %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4 class="page-header">/Me</h4>
      Curious, dynamic and kind of cute :D. I love speaking about anything though looking at my screen during hours is even better. Always ready to learn new (cool&interesting) things and waste time with them because time doesn't matter when you are happy with what you do.
      <h4 class="page-header">/Experience</h4>

      <ul style="list-style:none; margin-left:-30px;">
        <li><i class="glyphicon glyphicon-pencil"></i> Cofounder @ <a target="_blank" href="http://smart4cities.net">Sm4rtCities</a></li>
        <li><i class="glyphicon glyphicon-pencil"></i> Researcher @ <a target="_blank" href="http://crises2-deim.urv.cat/">CRISES - URV</a></li>
        <li><i class="glyphicon glyphicon-pencil"></i> System Manager @ <a target="_blank" href="http://seeslab.net/">SEESLAB - URV</a></li>
        <li class="disabled"><i class="glyphicon glyphicon-pencil"></i> Research scholar @ <a target="_blank" href="http://deim.urv.cat/">DEIM - URV</a></li>
        <li class="disabled"><i class="glyphicon glyphicon-pencil"></i> Scholar @ <a target="_blank" href="http://www.repsol.com/">Repsol</a></li>
      </ul>
      <h4 class="page-header">/Education</h4>
      <ul style="list-style:none; margin-left:-30px;">
        <li><i class="glyphicon glyphicon-book"></i> Master of Computer Security and Intelligent Systems @ <a target="_blank" href="http://www.urv.cat/">URV</a></li>
        <li><i class="glyphicon glyphicon-book"></i> Technical Engineering in Computer Systems @ <a target="_blank" href="http://www.urv.cat/">URV</a> </li>
        <li><i class="glyphicon glyphicon-book"></i> Android application development @ <a target="_blank" href="http://www.urv.cat/">URV</a> </li>
        <li><i class="glyphicon glyphicon-book"></i> Introduction to CUDA programming @ <a target="_blank" href="http://www.upc.edu/">UPC</a></li>
        <li><i class="glyphicon glyphicon-book"></i> SecurityTube Python Scripting Expert @ <a target="_blank" href="http://securitytube.net">Securitytube</a></li>
        <li><i class="glyphicon glyphicon-book"></i> SecurityTube Linux Assembly Expert @ <a target="_blank" href="http://securitytube.net">Securitytube</a></li>
        <li><i class="glyphicon glyphicon-book"></i> Shaping up with Angularjs @ <a target="_blank" href="https://codeschool.com">CodeSchool</a></li>
      </ul>
      <h4 class="page-header">/Social</h4>
      <ul style="list-style:none; margin-left:-30px;">
        <li><i class="glyphicon glyphicon-comment"></i> <a target="_blank" href="http://github.com/argaen">Github</a></li>
        <li><i class="glyphicon glyphicon-comment"></i> <a target="_blank" href="http://twitter.com/djangozone">Twitter</a></li>
        <li><i class="glyphicon glyphicon-comment"></i> <a target="_blank" href="http://bitbucket.org/argaen">Bitbucket</a></li>
        <li><i class="glyphicon glyphicon-comment"></i> <a target="_blank" href="http://stackoverflow.com/users/3481357/djangozone">StackOverflow</a></li>
        <li><i class="glyphicon glyphicon-comment"></i> <a target="_blank" href="https://www.linkedin.com/profile/view?id=156606310&trk=nav_responsive_tab_profile_pic">LinkedIn</a></li>
      </ul>
    </div>
    <div class="col-md-6">
      <h4 class="page-header">Tech</h4>
      I basically (well, only) work with Linux, Debian mostly. Bash and vi are my swiss knives and there is <b>no</b> alternative because they rock in terms of productivity. I have years of experience in Linux systems and administration. Actually I'm mostly focused on developing awesome applications with Django, Angularjs and d3js. And this is one of the reasons I started this project.
      <h4 class="page-header">Tools I Work with Daily</h4>
      <ul class="list-inline">
        <li><a target="_blank" href="http://vim.org"><img width=70 class="img-responsive" src={% static "img/logos/vim.png" %}></img></a></li>
        <li><a target="_blank" href="http://www.gnu.org/software/bash/"><img width=70 class="img-responsive" src={% static "img/logos/bash.png" %}></img></a></li>
        <li><a target="_blank" href="http://python.org"><img width=70 class="img-responsive" src={% static "img/logos/python.png" %}></img></a></li>
        <li><a target="_blank" href="http://debian.org"><img width=70 class="img-responsive" src={% static "img/logos/debian.png" %}></img></a></li>
        <li><a target="_blank" href="http://djangoproject.com"><img width=70 class="img-responsive" src={% static "img/logos/django.png" %}></img></a></li>
        <li><a target="_blank" href="http://djangorestframework.org"><img width=70 class="img-responsive" src={% static "img/logos/drf.png" %}></img></a></li>
        <li><a target="_blank" href="http://github.com"><img width=70 class="img-responsive" src={% static "img/logos/github.png" %}></img></a></li>
        <li><a target="_blank" href="http://bitbucket.com"><img width=70 class="img-responsive" src={% static "img/logos/bitbucket.png" %}></img></a></li>
        <li><a target="_blank" href="http://trello.com"><img width=70 class="img-responsive" src={% static "img/logos/trello.jpg" %}></img></a></li>
      </ul>
      <h4 class="page-header">Tools I Use to Work with</h4>
      <ul class="list-inline">
        <li><a target="_blank" href="http://bootstrap.com"><img width=70 class="img-responsive" src={% static "img/logos/bootstrap.png" %}></img></a></li>
        <li><a target="_blank" href="http://angularjs.com"><img width=70 class="img-responsive" src={% static "img/logos/angularjs.png" %}></img></a></li>
        <li><a target="_blank" href="http://d3js.org"><img width=60 class="img-responsive" src={% static "img/logos/d3js.png" %}></img></a></li>
        <li><a target="_blank" href="http://rocksclusters.org"><img width=70 class="img-responsive" src={% static "img/logos/rocksclusters.png" %}></img></a></li>
        <li><a target="_blank" href="http://html5.org"><img width=70 class="img-responsive" src={% static "img/logos/html5.png" %}></img></a></li>
        <li><a target="_blank" href="http://centos.org"><img width=70 class="img-responsive" src={% static "img/logos/centos.jpg" %}></img></a></li>
        <li><a target="_blank" href="http://centos.org"><img width=70 class="img-responsive" src={% static "img/logos/c.png" %}></img></a></li>
        <li><a target="_blank" href="http://centos.org"><img width=70 class="img-responsive" src={% static "img/logos/c++.png" %}></img></a></li>
        <li><a target="_blank" href="http://postgresql.org"><img width=70 class="img-responsive" src={% static "img/logos/psql.png" %}></img></a></li>
      </ul>
      <h4 class="page-header">Tools I Also Know</h4>
      <ul class="list-inline">
        <li><a target="_blank" href="http://android.com"><img width=70 class="img-responsive" src={% static "img/logos/android.jpg" %}></img></a></li>
        <li><a target="_blank" href="http://java.com"><img width=70 class="img-responsive" src={% static "img/logos/java.png" %}></img></a></li>
        <li><a target="_blank" href="http://sqlite.org"><img width=70 class="img-responsive" src={% static "img/logos/sqlite.jpg" %}></img></a></li>
        <li><a target="_blank" href="http://mysql.com"><img width=70 class="img-responsive" src={% static "img/logos/mysql.png" %}></img></a></li>
      </ul>
      <h4 class="page-header">Follow this project</h4>
      <div class="col-md-3">
        <a target=blank href="http://github.com/argaen/djangozone"><img class="img-responsive" src={% static "img/logos/github_big.png" %}></img></a>
      </div>
      <div class="col-md-3">
        <a target=blank href="http://twitter.com/djangozone"><img class="img-responsive" src={% static "img/logos/twitter_big.png" %}></img></a>
      </div>

    </div>
  </div>
</div>
{% endblock %}
