{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content={% block meta_description %}"Find everything you want to know here in DjangoZone!"{% endblock %}>
    <meta name="keywords" content="django project, djangoproject, django tutorial, django example, blog, {% block meta_keywords %} django models, django views, django urls,{% endblock %}">
    <meta name="author" content="djangozone">

    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <link rel="icon" type="image/png" href={% static "img/logos/djangozone.png" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/styles.css" %}>


    <title>{% block title %}Django Zone{% endblock title %}</title>

    <!-- Custom styles for this template -->
    {% block styles %}
    {% endblock styles %}

  </head>

  <body>
    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">DjangoZone</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav pull-right">
            {% block menu %}
              <li class="active"><a href="/">Home</a></li>
              <li class="disabled"><a href="#packages">Timeline</a></li>
              <li><a href="/about">About</a></li>
            {% endblock menu %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    {% block base_template %}
    {% endblock %}

    <div id="footer">
      <div class="container">
        <p style="margin-top:15px;" class="text-muted">Powered by 
        <a href="http://djangoproject.com" target="blank"><img width=32 height=32 alt="Django" src={% static "img/logos/django.png" %}></img></a>
        <a href="http://github.com" target="blank"><img width=32 height=32 alt="Github" src={% static "img/logos/github.png" %}></img></a>
        <a href="http://getbootstrap.com" target="blank"><img width=32 height=32 alt="Bootstrap" src={% static "img/logos/bootstrap.png" %}></img></a>
        <a href="http://openshift.com" target="blank"><img width=32 height=32 alt="Openshift" src={% static "img/logos/openshift.png" %}></img></a>
      </div>
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51915812-1', 'django.zone');
      ga('send', 'pageview');

    </script>

    {% block scripts %}
    {% endblock scripts %}
  </body>
</html>
