<p>
  <h3><a href="/posts/{{post.id}}">{{ post.title }}</a></h3>
  <p><i>{{ post.published_on }}</i> by {{ post.author }}</p>
  <p>{% if post.tags %}Tags: {{ post.tags }}{% endif %}</p>
  <p>{% if post.commit %}Commit: <a href="https://github.com/argaen/djangozone/tree/{{ post.commit }}" target=blank>{{ post.commit }}</a>{% endif %}</p>
  <p>{% if post.branch %}Branch: <a href="https://github.com/argaen/djangozone/tree/{{ post.branch }}" target=blank>{{ post.branch }}</a>{% endif %}</p>
  <p>{% if post.tag %} Tag: <a href={{ post.tag }} target=blank>{{ post.tag }}</a>{% endif %}</p>
</p>
<div class="post-content">
  <p>{{ post.content|safe }}</p>
</div>
<hr style="margin-bottom:40px;">
