{% extends 'base.html' %}

{% block content %}
<div class="col-md-11 post">
  <p>
    <h3><a href={% url 'posts_detail' post.id %}>{{ post.title }}</a></h3>
    <p><i>{{ post.published_on }}</i> by {{ post.author }}</p>

    {% if post.tags.all %}<p>posted in 
      {% for tag in post.tags.all %}
      <a href="/posts/tag/{{ tag }}">#{{tag}}</a>{% if not forloop.last %},{% endif%}
      {% endfor %}
    </p>{% endif %}

    <p>{% if post.commit %}Commit: <a href="https://github.com/argaen/djangozone/tree/{{ post.commit }}" target=blank>{{ post.commit }}</a>{% endif %}</p>
    <p>{% if post.branch %}Branch: <a href="https://github.com/argaen/djangozone/tree/{{ post.branch }}" target=blank>{{ post.branch }}</a>{% endif %}</p>
  </p>
  <div class="post-content">
    <p>{{ post.content|safe }}</p>
  </div>
  {% if post.tags.similar_objects %}
    Similar: 
    {% for s in post.tags.similar_objects|slice:":3" %}
      <a href={% url 'posts_detail' s.id %}>{{s}}</a>{% if not forloop.last %},{% endif%}
    {% endfor %}
  {% endif %}
  <hr style="margin-bottom:40px;">
</div>
{% endblock %}
