{% load content_tags highlights staticfiles %}


{% if list %}
  <div class="post-content">
    <p>{{ object.content|truncatechars_html:1000|markdownify|highlight_code|safe }}</p>
  </div>
  <a class="btn btn-primary" href={% url object.get_classname|add:'_detail' object.slug %}>Read more</a>

{% else %}
  <div class="post-content">
    <p>{{ object.content|markdownify|highlight_code|safe }}</p>
  </div>
  {% if object.tags.similar_objects %}
    Similar: 
    {% for s in object.tags.similar_objects|slice:":3" %}
      <a href={% url object.get_classname|add:'_detail' s.slug %}>{{s}}</a>{% if not forloop.last %},{% endif%}
    {% endfor %}
  {% endif %}
{% endif %}

<hr style="margin-bottom:40px;">
