{% extends 'home.html' %}

{% load content_tags %}

{% block meta_keywords %}
  {% get_tags object.tags.names %}
{% endblock meta_keywords %}

{% block content %}
  {% if objects.paginator %}
    {% for object in objects %}
      <div class="col-md-11 post">
        {% include 'contents_detail.html' %}
      </div>
    {% endfor %}
  {% else %}
    {% with objects as object %}
      <div class="col-md-11 post">
        {% include 'contents_detail.html' %}
        {% include 'disqus_comments.html' %}
      </div>
    {% endwith %}
  {% endif %}
{% endblock %}
