{% extends 'base.html' %}

{% block content %}
<div class="container">
  {% for post in posts %}
    <p>
      <h3>{{ post.title }}</h3>
      <p><i>{{ post.published_on }}</i> by {{ post.author }}</p>
      <p>{% if post.tags %}Tags: {{ post.tags }}{% endif %}</p>
      <p>{% if post.commit %}Commit: {{ post.commit }}{% endif %}</p>
      <p>{% if post.branch %}<a href={{ post.branch }} target=blank>branch</a>{% endif %}</p>
      <p>{% if post.tag %}<a href={{ post.tag }} target=blank>tag</a>{% endif %}</p>
    </p>
    <div class="post-content">
      <p>{{ post.content|safe }}</p>
    </div>
    <hr>
  {% endfor %}
</div>
{% endblock %}
