{% extends 'base.html' %}

{% load staticfiles %}
{% block menu %}
  <li><a href="/">Home</a></li>
  <li class="active"><a href="/projects">Projects</a></li>
  <li class="disabled"><a href="#packages">Timeline</a></li>
  <li><a href="/about">About</a></li>
{% endblock menu %}


{% block styles %}
    <link type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.6.0/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.4.10/d3.min.js"></script>
    <script type="text/javascript" src="http://d3js.org/topojson.v1.min.js"></script>
    <link type="text/css" href={% static "9n/css/styles.css" %} rel="stylesheet">
    <script type="text/javascript" src={% static "9n/js/app.js" %}></script>
{% endblock %}

{% block base_template %}
  <div class="container" ng-app="cartomap" style="display:block;">
    <div class="row">
      <div class="col-md-7">
        <button class="btn btn-primary" ng-click="map.source = 'comarques'; stats.current_vots = 'Sí - Sí'">Comarques</button>
        <button class="btn btn-primary" ng-click="map.source = 'municipis'; stats.current_vots = 'Sí - Sí'">Municipis</button>
        <div map-canvas style="margin:30px 0;"></div>
      </div>
      <div class="col-md-5">
        <h3 style="color: {[{map.comarca_color}]};"> {[{ map.str_id }]} </h3>
        <div class="row">
          <div class="col-md-12">
            <pie-chart data='map.vote_data'></pie-chart>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <stats></stats>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom:60px;">
      <p class="alert alert-info">Les dades de les votacions han estat extretes de <a target="_blank" href="http://www.participa2014.cat">participa2014.cat</a>. Última actualització el 10 de Novembre de 2014.</p>
      <p class="alert alert-info">Les dades cartogr&agrave;fiques han estat extretes de l'<a target="_blank" href="http://www.icc.es/">Institut Cartogr&agrave;fic i Geol&ograve;gic de Catalunya</a></p>
    </div>
  </div>

{% endblock %}
